/* color palette: https://colorhunt.co/palette/35374b34495550727b78a083 */
/* Curvy backgrounds: https://app.haikei.app */


html {
    scroll-behavior: smooth;
}

body {
    padding-top: 4vh;
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #35374B;
    color: #78A083;
    overflow-x: hidden;
}

.main-navbar {
    left: 25%;
    top: 3vh;
    width: 50%;
    padding: 10px;
    position: fixed;
    z-index: 100;
    background: rgba(52, 73, 85, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(52, 73, 85, 0.2);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.main-navbar ul {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.main-navbar li {
    padding: 10px;
}

.main-navbar a {
    border-radius: 16px;
    padding: 10px;
    color: #78A083;
    text-decoration: none;
    font-size: larger;
}

.main-navbar a:hover {
    background-color: #50727B;
}

.decipher {
    &::before {
        content: attr(data-before);
    }

    &::after {
        content: attr(data-after);
    }
}


h1 div {
    font-size: 35vh;
    height: 100vh;
    height: fit-content;
}


div {
    text-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-container div {
    margin: 0;
    padding: 0;
    text-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}


@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


em {
    font-weight: bolder;
    color: #50727B;
    font-style: normal;
    height: fit-content;
}


.name {
    height: fit-content;
}

.statement-block {
    background-color: #344955;
}

section {
    margin: 0;
    padding: 0;
}

.binary-padding {
    color: #50727B;
    font-family: "Source Code Pro", monospace;
    font-weight: lighter;
    font-size: 10vh;
    white-space: no-wrap;
    transition: transform 0.1s ease-out;
}

.binary-row {
    text-wrap: nowrap;
    height: fit-content;
    margin: 0;
    display: block; 
}

.statement-block {
    background-color: #35374B;
    aspect-ratio: 900/675;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("curve.svg");
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.statement-block h2 {
    margin-top: 15vh;
    font-size: xx-large;
}

.my-projects-block {
    background-color: #35374B;
    aspect-ratio: 900/675;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("curve2.svg");
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.my-projects-block h2 {
    margin-top: 25vh;
    font-size: xx-large;
}


.skills {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skills h2 {
    align-items: center;
}

.skills-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    width: min-content;
    border-style: solid;
    margin: 1vw;
    background: rgba(52, 73, 85, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(52, 73, 85, 0.2);
}

.class-logo {
    width: 100px;
    height: 100px;
    background-color: #78A083;
    mask-image: url("https://icons.iconarchive.com/icons/icons8/ios7/512/Data-Database-icon.png");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.skills-element img {
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
}


.skills-element:hover {
    /* box-shadow: 5px 5px 5px #344955; */
    box-shadow: 0 4px 8px 0 #344955, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.computer-monitor {
    width: 50%;
    display: grid;
    justify-items: center;
    aspect-ratio: 101/107.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("Monitor.svg");
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.screen-container {
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 15%;
    width: 70%;
    height: 50%;
    color: #78A083;
    display: block;
    position: relative;
    transition: transform 0s, opacity 0s;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.screen.roll-in {
    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 0.8s steps(20, end) forwards; 
    position: relative; 
}

.project-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#project-link {
    text-decoration: none;
    color: #78A083;
}

.tags-container {
    display: flex;
    justify-content: space-around;
}

.tag {
    font-weight: bold;
    padding-inline: 5%;
    padding-block: 5%;
    background-color: #35374B;
    border-radius: 16px;
    font-size: small;
    min-width: 30px;
    text-align: center;
}

.description-container {
    margin: 1%;
    width: 50%;
    min-width: 0;
    overflow-wrap: break-word;
}

.description-container p {
    width: 100%;
}

.project-image {
    width: 50%;
    height: 50%;
    border-radius: 16px;
}

.project-selectors {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: none;
    color: #78A083;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    overflow-wrap: break-word;
}