/* color palette: https://colorhunt.co/palette/35374b34495550727b78a083 */


* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #35374B;
    color: #78A083;
}


.intro-block {
    min-height: 100vh;
    color: #78A083;
    font-size: 50vh;
    min-width: fit-content;
    flex-direction: row;
    height: 100%;
}


.greeting {
    font-size: 70vh;
}

em {
    color: #50727B;
    font-style: normal;
    font-weight: 900;
}

.intro-block span {
    display: block;
}

.statement-block {
    padding-top: 20%;
    font-size: 10vw;
}
