/* color palette: https://colorhunt.co/palette/35374b34495550727b78a083 */
/* Curvy backgrounds: https://app.haikei.app */


body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #35374B;
    color: #78A083;
    overflow-x: hidden;
}


h1 div {
    font-size: 35vh;
    height: 100vh;
    height: fit-content;
}


div {
    text-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


em {
    font-weight: bolder;
    color: #50727B;
    font-style: normal;
}


.name {
    height: fit-content;
    text-wrap: wrap;
}

.statement-block {
    background-color: #344955;
}

section {
    margin: 0;
    padding: 0;
}

.statement-block {
    background-color: #344955;
    line-height: 10;
    aspect-ratio: 900/675;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("curve.svg");
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.binary-padding {
    color: #50727B;
    font-family: "Source Code Pro", monospace;
    font-weight: lighter;
    font-size: 10vh;
}

p.binary-padding {
    margin: 0;
    line-break: break-all;
    white-space: normal;
    text-wrap: wrap;
}